# 1. Considere o DataFrame df abaixo criado com a biblioteca pandas:

import pandas as pd

data = {
    "Nome": ["Ana", "Bruno", "Carlos", "Diana"],
    "Idade": [23, 34, 45, 26],
    "Cidade": ["Lisboa", "Porto", "Coimbra", "Faro"]
}

df = pd.DataFrame(data)

Qual linha de código filtra o DataFrame df para incluir apenas as entradas onde a coluna "Idade" é maior que 30?

In [1]:
import pandas as pd

In [2]:
data = {
    "Nome": ["Ana", "Bruno", "Carlos", "Diana"],
    "Idade": [23, 34, 45, 26],
    "Cidade": ["Lisboa", "Porto", "Coimbra", "Faro"]
}

In [3]:
df = pd.DataFrame(data)

In [4]:
df[df["Idade"] > 30]

     Nome  Idade   Cidade
1   Bruno     34    Porto
2  Carlos     45  Coimbra